
# Android build intermediates
*.pyc
*.pyo
.build/
.env
.venv/
__pycache__/
android-build/aligned.apk
android-build/class/
android-build/classes.dex
android-build/debug.keystore
android-build/gen/
android-build/unsigned.apk
build/
javac.*.args
venv/
